* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Primary Colors */
  --primary-red: #c60c30;
  --primary-blue: #003478;

  /* Secondary Colors */
  --secondary-white: #ffffff;
  --secondary-black: #000000;

  /* Accent Colors */
  --accent-light-grey: #f2f2f2;
  --accent-muted-grey: #d6d6d6;
}

body {
  background-color: var(--secondary-white);
  color: var(--secondary-white);
}
